<div class="steps_and_fee">
  <% unless current_user.customer_id.present? %>
    <%= form_tag(controller: :insurances, action: :registration, method: :post) do %>
    <script src="https://checkout.webpay.jp/v1/" class="webpay-button" data-key="<%= WEBPAY_PUBLIC_KEY %>"></script>
    <% end %>
  <% end %>
  <div class="clearFix">
    <div class="steps">
      <p class="label">平均歩数</p>
      <% if current_user.steps.present? %>
        <p class="steps_num"> <strong><%= current_user.step_average %></strong>歩</p>
      <% else %>
        <p class="steps_num"><strong>------</strong>歩<p>
      <% end %>
    </div>
    <div class="fee">
      <p class="label">現在の保険料</p>
      <% if current_user.insurances.present? %>
        <p class="fee_num"> <strong><%= current_user.current_fee %></strong>円</p>
      <% else %>
        <p class="fee_num"><strong>------</strong>円<p>
      <% end %>
    </div>
  </div>
</div>


<div class="record">
  <p>今日の記録</p>
  <% unless current_user.today_input.present? %>
    <%= form_for [@step] do |f| %>
      <ul>
        <li>
          <%= f.label :歩数 %>
          <%= f.text_field :step_num, :class => "step", :placeholder => "歩数を入力して下さい" %>
        </li>
        <li>
          <%= f.label :その他運動 %>
          <%= f.select :training, [["今日行った運動を選んで下さい",""],"筋トレ","ランニング","ストレッチ","その他スポーツ"],{},{class: "training"} %>
        </li>
      </ul>
          <p><%= button_tag type: "submit", class: "btn" do %>投稿する</p>
          <% end %>
    <% end %>

  <% else %>
    <div class="written">
      <p>本日の入力は完了しました。</p>
      <div class="rewrite">
        <%= link_to image_tag('pencil.png'), edit_step_path(current_user.steps.last), method: :get %>
        <%= link_to '修正する', edit_step_path(current_user.steps.last), method: :get, :class => "rewrite_btn" %>
      </div>
    </div>
  <% end %>
</div>

<div class="graphs">
  <div class="steps_detail">
    <p>直近30日の歩数推移(k = 1000)</p>
    <div class="graph">
      <%= line_chart [{name:"あなた", data: @step_data},{name:"平均", data: @ave_data} ],colors: ["#d44","#44d"] %>
    </div>
  </div>
  <div class="fee_detail">
    <div class="fee_graph">
      <p>直近30日の保険料の推移</p>
      <div class="graph">
        <%= line_chart [{name:"あなた", data: @fee_data}], colors: ["#d44"], min: current_user.insurances.minimum("fee"), max: current_user.insurances.maximum("fee")  %>
      </div>
    </div>
  </div>
</div>

<div class="recursion">
  <p>お支払い方法</p>
  <%= form_tag(controller: :insurances, action: :recursion, method: :post) do %>
  <script src="https://checkout.webpay.jp/v1/" class="webpay-button" data-key="<%= WEBPAY_PUBLIC_KEY %>"></script>
  <% end %>
</div>