<div class="edit">
  <p>歩数修正</p>
  <%= form_for @today_step do |f| %>
    <ul>
      <li>
        <%= f.label :歩数 %>
        <%= f.text_field :step_num, :class => "step" %>
      </li>
      <li>
        <%= f.label :その他運動 %>
        <%= f.select :training, [["今日行った運動を選んで下さい",""],["筋トレ","muscle_training"],["ランニング","running"],["ストレッチ","stretch"],["その他スポーツ","sports"]] %>
      </li>
    </ul>
        <p><%= button_tag type: "submit", class: "btn" do %>修正する</p>
        <% end %>
    <% end %>
</div>