<h1 class="page_title">運動記録</h1>

<div class="steps_detail">
  <p>直近30日の歩数推移(k = 1000)</p>
  <div class="graph">
    <%= line_chart [{name:"あなた", data: @step_data},{name:"平均", data: @ave_data} ],colors: ["#d44","#44d"] %>
  </div>
</div>

<div class="steps_detail">
  <p>直近30日の各トレーニング回数</p>
  <div class="graph">
    <%= column_chart [{name:"あなた",data: @training_data.group(:training).count},{name:"平均",data: @training_ave}] ,colors: ["#d44","#44d"]%>
  </div>
</div>

<div class="steps_detail">
  <p>直近30日の総運動量構成比</p>
  <div class="graph">
    <% unless @exvalue["歩数"] == 0 %>
      <%= pie_chart @exvalue %>
    <% else %>
      <p></br>データがありません。</p>
    <% end %>
  </div>
</div>


<div class="record">
  <p>今日の記録</p>
  <% unless current_user.today_input.present? %>
    <%= form_for [@step] do |f| %>
      <ul>
        <li>
          <%= f.label :歩数 %>
          <%= f.text_field :step_num, :class => "step", :placeholder => "歩数を入力して下さい" %>
        </li>
        <li>
          <%= f.label :その他運動 %>
          <%= f.select :training, [["今日行った運動を選んで下さい",""],"筋トレ","ランニング","ストレッチ","その他スポーツ"],{},{class: "training"} %>
        </li>
      </ul>
          <p><%= button_tag type: "submit", class: "btn" do %>投稿する</p>
          <% end %>
    <% end %>

  <% else %>
    <div class="written">
      <p>本日の入力は完了しました。</p>
      <div class="rewrite">
        <%= link_to image_tag('pencil.png'), edit_step_path(current_user.steps.last), method: :get %>
        <%= link_to '修正する', edit_step_path(current_user.steps.last), method: :get, :class => "rewrite_btn" %>
      </div>
    </div>
  <% end %>
</div>